<template>
  <div class="d-flex flex-column justify-content-between h-100 bg_light_green">
    <nav class="navbar navbar-expand-lg ff_comfortaa position-fixed">
      <div class="menu">
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto my-2 mx-3">
            <li class="nav-item">
              <router-link class="nav-link" aria-current="page" to="/">Főoldal</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/etlap">Étlap</router-link>
            </li>
            <!--li class="nav-item">
              <router-link class="nav-link" to="/#kapcsolat">Kapcsolat</router-link>
            </li-->
            <!--li class="nav-item">
              <router-link class="nav-link" to="/#rolunk">Rólunk</router-link>
            </li-->
            <li class="nav-item d-none" id="userOrders">
              <router-link to="/rendeles-kovetes" class="nav-link">Rendeléskövetés</router-link>
            </li>
			<li class="nav-item d-none" id="adminOrders">
              <router-link to="/rendelesek" class="nav-link">Rendelések</router-link>
            </li>
            <!--li class="nav-item">
							<router-link class="nav-link" to="/leltar">Leltár</router-link>
						</li>-->
            
            <li>
              <router-link class="nav-link" to="/kosar">
				<div class="d-flex align-items-center"><div class="pe-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg></div> <div>Kosár</div></div></router-link>
            </li>
			<li class="nav-item">
              <form class="d-flex" role="search">
                <router-link id="loginButton" class="nav-link" to="/Login">Bejelentkezés</router-link>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="logo logo_header mx-3">
        <svg fill="#ffe59b" height="50" width="50" version="1.1" id="pizza_logo" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 448.898 448.898" xml:space="preserve">
          <path id="XMLID_1423_" d="M110.646,307.839c0,3.866-3.134,7-7,7h-1.866c-3.866,0-7-3.134-7-7s3.134-7,7-7h1.866
  	C107.512,300.839,110.646,303.973,110.646,307.839z M67.648,243.445h-1.865c-3.866,0-7,3.134-7,7s3.134,7,7,7h1.865
  	c3.866,0,7-3.134,7-7S71.515,243.445,67.648,243.445z M135.299,186.951h-1.867c-3.866,0-7,3.134-7,7c0,3.866,3.134,7,7,7h1.867
  	c3.866,0,7-3.134,7-7C142.299,190.084,139.165,186.951,135.299,186.951z M178.345,95.274h-1.864c-3.866,0-7,3.134-7,7
  	c0,3.866,3.134,7,7,7h1.864c3.866,0,7-3.134,7-7C185.345,98.409,182.211,95.274,178.345,95.274z M265.215,173.492
  	c0-12.365,10.062-22.425,22.428-22.425c12.365,0,22.425,10.06,22.425,22.425c0,12.366-10.06,22.426-22.425,22.426
  	C275.276,195.917,265.215,185.857,265.215,173.492z M279.215,173.492c0,4.646,3.78,8.426,8.428,8.426
  	c4.646,0,8.425-3.78,8.425-8.426c0-4.646-3.779-8.425-8.425-8.425C282.995,165.066,279.215,168.846,279.215,173.492z
  	 M128.421,154.241c0,12.366-10.061,22.426-22.427,22.426s-22.427-10.06-22.427-22.426s10.061-22.426,22.427-22.426
  	S128.421,141.875,128.421,154.241z M114.421,154.241c0-4.646-3.78-8.426-8.427-8.426s-8.427,3.78-8.427,8.426
  	c0,4.646,3.78,8.426,8.427,8.426S114.421,158.887,114.421,154.241z M75.207,186.951h-1.866c-3.866,0-7,3.134-7,7
  	c0,3.866,3.134,7,7,7h1.866c3.866,0,7-3.134,7-7C82.207,190.084,79.073,186.951,75.207,186.951z M212.961,109.274h1.866
  	c3.866,0,7-3.134,7-7c0-3.866-3.134-7-7-7h-1.866c-3.866,0-7,3.134-7,7C205.961,106.141,209.095,109.274,212.961,109.274z
  	 M362.357,300.713c1.026,0.529,2.123,0.78,3.203,0.78c2.536,0,4.983-1.383,6.227-3.792l0.855-1.658
  	c1.772-3.436,0.425-7.658-3.012-9.431c-3.436-1.773-7.657-0.423-9.43,3.012l-0.855,1.658
  	C357.573,294.718,358.921,298.94,362.357,300.713z M296.04,380.534c1.855,3.215,0.872,7.29-2.173,9.32
  	c-0.217,0.161-0.444,0.31-0.684,0.448c-29.535,17.014-63.261,26.006-97.531,26.006c-35.34,0-68.525-9.421-97.171-25.879
  	c-0.222-0.099-0.44-0.21-0.655-0.334c-0.222-0.128-0.435-0.267-0.637-0.415C39.101,355.713,0,292.666,0,220.657
  	C0,148.646,39.1,85.6,97.188,51.632c0.203-0.148,0.416-0.287,0.639-0.416c0.216-0.124,0.435-0.236,0.656-0.334
  	c28.646-16.458,61.83-25.878,97.17-25.878s68.524,9.419,97.169,25.877c0.223,0.099,0.441,0.21,0.656,0.335
  	c0.223,0.128,0.435,0.267,0.638,0.415c58.089,33.968,97.19,97.015,97.19,169.024v0v0.001c0,3.866-3.134,7-7,7H225.305
  	c-0.049,0-0.098,0-0.146-0.001h-17.408l8.311,14.457c0.173,0.229,0.333,0.471,0.48,0.726L296.04,380.534z M280.067,381.543
  	l-90.483-157.399c-1.245-2.166-1.242-4.832,0.01-6.995c1.251-2.163,3.561-3.494,6.059-3.494h152.86
  	c-1.913-41.889-20.932-81.228-52.842-108.812c-2.925-2.528-3.246-6.949-0.718-9.874c2.529-2.926,6.947-3.248,9.874-0.718
  	c34.99,30.247,55.777,73.441,57.699,119.403h14.646c-2.348-61.702-35.62-115.614-84.724-146.658l-75.907,131.478
  	c-1.933,3.348-6.214,4.496-9.563,2.562c-3.348-1.933-4.495-6.214-2.563-9.562l61.618-106.729
  	c-21.635-11.212-45.826-17.111-70.383-17.111c-18.206,0-36.02,3.165-52.946,9.407c-3.631,1.338-7.652-0.519-8.989-4.146
  	c-1.338-3.627,0.519-7.652,4.146-8.99c18.482-6.815,37.926-10.271,57.79-10.271c27.013,0,53.624,6.542,77.39,18.975l7.294-12.634
  	c-25.3-13.388-54.122-20.974-84.684-20.974s-59.385,7.586-84.685,20.975l75.919,131.499c1.933,3.348,0.785,7.629-2.563,9.562
  	c-3.35,1.934-7.63,0.786-9.563-2.562L113.148,91.756c-36.889,23.611-61.756,61.431-68.621,104.75
  	c-0.605,3.818-4.194,6.427-8.01,5.818c-3.818-0.605-6.423-4.191-5.818-8.009c7.529-47.508,34.883-88.953,75.442-114.695
  	l-7.287-12.622C49.751,98.042,16.48,151.955,14.133,213.657h151.868c3.866,0,7,3.134,7,7s-3.134,7-7,7H42.792
  	c1.934,42.515,21.419,82.257,54.131,109.911c2.952,2.496,3.322,6.913,0.826,9.865c-2.495,2.952-6.912,3.324-9.865,0.827
  	c-35.866-30.321-57.164-73.956-59.105-120.603H14.133c2.348,61.702,35.618,115.613,84.722,146.657l75.907-131.478
  	c1.935-3.348,6.215-4.495,9.563-2.562s4.495,6.214,2.563,9.562l-61.618,106.728c21.635,11.214,45.828,17.113,70.384,17.113
  	c18.223,0,36.049-3.169,52.983-9.42c3.628-1.338,7.652,0.517,8.991,4.143c1.338,3.626-0.517,7.652-4.144,8.991
  	c-18.491,6.826-37.948,10.287-57.831,10.287c-27.012,0-53.625-6.543-77.391-18.978l-7.294,12.635
  	c25.3,13.388,54.123,20.975,84.685,20.975C225.125,402.309,254.161,395.147,280.067,381.543z M345.613,333.125
  	c1.027,0.531,2.125,0.782,3.206,0.782c2.535,0,4.981-1.381,6.226-3.789l0.856-1.658c1.773-3.435,0.428-7.658-3.008-9.432
  	c-3.437-1.776-7.656-0.427-9.432,3.007l-0.856,1.658C340.832,327.128,342.178,331.351,345.613,333.125z M319.987,299.362
  	c1.027,0.531,2.125,0.782,3.207,0.782c2.535,0,4.981-1.381,6.225-3.789l0.856-1.658c1.774-3.435,0.429-7.657-3.006-9.432
  	c-3.432-1.774-7.657-0.428-9.432,3.006l-0.856,1.658C315.207,293.365,316.553,297.588,319.987,299.362z M448.898,253.32
  	c0,35.017-9.362,69.376-27.075,99.365c-17.192,29.106-41.761,53.41-71.048,70.282c-1.072,0.618-3.202,1.298-5.315,0.693
  	c-1.786-0.511-3.321-1.66-4.247-3.27L247.18,256.809c-1.245-2.167-1.242-4.832,0.01-6.995c1.251-2.163,3.561-3.494,6.059-3.494
  	h188.65C445.765,246.32,448.898,249.454,448.898,253.32z M434.763,260.32H265.346l70.162,122.054
  	c35.927-22.916,60.66-59.542,68.285-101.506c0.691-3.803,4.323-6.329,8.14-5.636c3.804,0.691,6.326,4.335,5.635,8.139
  	c-8.363,46.026-35.573,86.168-75.075,111.152l7.298,12.697C400.485,375.336,432.438,320.095,434.763,260.32z M220.884,339.619h1.866
  	c3.866,0,7-3.134,7-7s-3.134-7-7-7h-1.866c-3.866,0-7,3.134-7,7S217.018,339.619,220.884,339.619z M199.384,335.786
  	c0,12.366-10.061,22.426-22.427,22.426c-12.364,0-22.424-10.06-22.424-22.426s10.06-22.426,22.424-22.426
  	C189.323,313.359,199.384,323.42,199.384,335.786z M185.384,335.786c0-4.646-3.78-8.426-8.427-8.426
  	c-4.645,0-8.424,3.78-8.424,8.426c0,4.646,3.779,8.426,8.424,8.426C181.604,344.211,185.384,340.432,185.384,335.786z
  	 M186.537,279.413c0,3.866,3.134,7,7,7h1.865c3.866,0,7-3.134,7-7c0-3.866-3.134-7-7-7h-1.865
  	C189.671,272.413,186.537,275.547,186.537,279.413z M194.721,147.535h1.867c3.866,0,7-3.134,7-7s-3.134-7-7-7h-1.867
  	c-3.866,0-7,3.134-7,7S190.854,147.535,194.721,147.535z M139.072,262.14c0,12.366-10.061,22.426-22.427,22.426
  	c-12.365,0-22.425-10.06-22.425-22.426s10.06-22.426,22.425-22.426C129.012,239.714,139.072,249.774,139.072,262.14z
  	 M125.072,262.14c0-4.646-3.78-8.426-8.427-8.426c-4.646,0-8.425,3.78-8.425,8.426s3.779,8.426,8.425,8.426
  	C121.292,270.565,125.072,266.786,125.072,262.14z" />
        </svg>
      </div>
    </nav>
    <router-view></router-view>
    <footer id="main_footer" class="py-4 ff_comfortaa">
      <div class="
            container-fluid
            d-flex
            flex-column flex-sm-row
            align-items-center
          ">
        <div class="logo m-4">
          <svg fill="#ffc00f" height="70" width="70" version="1.1" id="pizza_logo" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 448.898 448.898" xml:space="preserve">
            <path id="XMLID_1423_" d="M110.646,307.839c0,3.866-3.134,7-7,7h-1.866c-3.866,0-7-3.134-7-7s3.134-7,7-7h1.866
  	C107.512,300.839,110.646,303.973,110.646,307.839z M67.648,243.445h-1.865c-3.866,0-7,3.134-7,7s3.134,7,7,7h1.865
  	c3.866,0,7-3.134,7-7S71.515,243.445,67.648,243.445z M135.299,186.951h-1.867c-3.866,0-7,3.134-7,7c0,3.866,3.134,7,7,7h1.867
  	c3.866,0,7-3.134,7-7C142.299,190.084,139.165,186.951,135.299,186.951z M178.345,95.274h-1.864c-3.866,0-7,3.134-7,7
  	c0,3.866,3.134,7,7,7h1.864c3.866,0,7-3.134,7-7C185.345,98.409,182.211,95.274,178.345,95.274z M265.215,173.492
  	c0-12.365,10.062-22.425,22.428-22.425c12.365,0,22.425,10.06,22.425,22.425c0,12.366-10.06,22.426-22.425,22.426
  	C275.276,195.917,265.215,185.857,265.215,173.492z M279.215,173.492c0,4.646,3.78,8.426,8.428,8.426
  	c4.646,0,8.425-3.78,8.425-8.426c0-4.646-3.779-8.425-8.425-8.425C282.995,165.066,279.215,168.846,279.215,173.492z
  	 M128.421,154.241c0,12.366-10.061,22.426-22.427,22.426s-22.427-10.06-22.427-22.426s10.061-22.426,22.427-22.426
  	S128.421,141.875,128.421,154.241z M114.421,154.241c0-4.646-3.78-8.426-8.427-8.426s-8.427,3.78-8.427,8.426
  	c0,4.646,3.78,8.426,8.427,8.426S114.421,158.887,114.421,154.241z M75.207,186.951h-1.866c-3.866,0-7,3.134-7,7
  	c0,3.866,3.134,7,7,7h1.866c3.866,0,7-3.134,7-7C82.207,190.084,79.073,186.951,75.207,186.951z M212.961,109.274h1.866
  	c3.866,0,7-3.134,7-7c0-3.866-3.134-7-7-7h-1.866c-3.866,0-7,3.134-7,7C205.961,106.141,209.095,109.274,212.961,109.274z
  	 M362.357,300.713c1.026,0.529,2.123,0.78,3.203,0.78c2.536,0,4.983-1.383,6.227-3.792l0.855-1.658
  	c1.772-3.436,0.425-7.658-3.012-9.431c-3.436-1.773-7.657-0.423-9.43,3.012l-0.855,1.658
  	C357.573,294.718,358.921,298.94,362.357,300.713z M296.04,380.534c1.855,3.215,0.872,7.29-2.173,9.32
  	c-0.217,0.161-0.444,0.31-0.684,0.448c-29.535,17.014-63.261,26.006-97.531,26.006c-35.34,0-68.525-9.421-97.171-25.879
  	c-0.222-0.099-0.44-0.21-0.655-0.334c-0.222-0.128-0.435-0.267-0.637-0.415C39.101,355.713,0,292.666,0,220.657
  	C0,148.646,39.1,85.6,97.188,51.632c0.203-0.148,0.416-0.287,0.639-0.416c0.216-0.124,0.435-0.236,0.656-0.334
  	c28.646-16.458,61.83-25.878,97.17-25.878s68.524,9.419,97.169,25.877c0.223,0.099,0.441,0.21,0.656,0.335
  	c0.223,0.128,0.435,0.267,0.638,0.415c58.089,33.968,97.19,97.015,97.19,169.024v0v0.001c0,3.866-3.134,7-7,7H225.305
  	c-0.049,0-0.098,0-0.146-0.001h-17.408l8.311,14.457c0.173,0.229,0.333,0.471,0.48,0.726L296.04,380.534z M280.067,381.543
  	l-90.483-157.399c-1.245-2.166-1.242-4.832,0.01-6.995c1.251-2.163,3.561-3.494,6.059-3.494h152.86
  	c-1.913-41.889-20.932-81.228-52.842-108.812c-2.925-2.528-3.246-6.949-0.718-9.874c2.529-2.926,6.947-3.248,9.874-0.718
  	c34.99,30.247,55.777,73.441,57.699,119.403h14.646c-2.348-61.702-35.62-115.614-84.724-146.658l-75.907,131.478
  	c-1.933,3.348-6.214,4.496-9.563,2.562c-3.348-1.933-4.495-6.214-2.563-9.562l61.618-106.729
  	c-21.635-11.212-45.826-17.111-70.383-17.111c-18.206,0-36.02,3.165-52.946,9.407c-3.631,1.338-7.652-0.519-8.989-4.146
  	c-1.338-3.627,0.519-7.652,4.146-8.99c18.482-6.815,37.926-10.271,57.79-10.271c27.013,0,53.624,6.542,77.39,18.975l7.294-12.634
  	c-25.3-13.388-54.122-20.974-84.684-20.974s-59.385,7.586-84.685,20.975l75.919,131.499c1.933,3.348,0.785,7.629-2.563,9.562
  	c-3.35,1.934-7.63,0.786-9.563-2.562L113.148,91.756c-36.889,23.611-61.756,61.431-68.621,104.75
  	c-0.605,3.818-4.194,6.427-8.01,5.818c-3.818-0.605-6.423-4.191-5.818-8.009c7.529-47.508,34.883-88.953,75.442-114.695
  	l-7.287-12.622C49.751,98.042,16.48,151.955,14.133,213.657h151.868c3.866,0,7,3.134,7,7s-3.134,7-7,7H42.792
  	c1.934,42.515,21.419,82.257,54.131,109.911c2.952,2.496,3.322,6.913,0.826,9.865c-2.495,2.952-6.912,3.324-9.865,0.827
  	c-35.866-30.321-57.164-73.956-59.105-120.603H14.133c2.348,61.702,35.618,115.613,84.722,146.657l75.907-131.478
  	c1.935-3.348,6.215-4.495,9.563-2.562s4.495,6.214,2.563,9.562l-61.618,106.728c21.635,11.214,45.828,17.113,70.384,17.113
  	c18.223,0,36.049-3.169,52.983-9.42c3.628-1.338,7.652,0.517,8.991,4.143c1.338,3.626-0.517,7.652-4.144,8.991
  	c-18.491,6.826-37.948,10.287-57.831,10.287c-27.012,0-53.625-6.543-77.391-18.978l-7.294,12.635
  	c25.3,13.388,54.123,20.975,84.685,20.975C225.125,402.309,254.161,395.147,280.067,381.543z M345.613,333.125
  	c1.027,0.531,2.125,0.782,3.206,0.782c2.535,0,4.981-1.381,6.226-3.789l0.856-1.658c1.773-3.435,0.428-7.658-3.008-9.432
  	c-3.437-1.776-7.656-0.427-9.432,3.007l-0.856,1.658C340.832,327.128,342.178,331.351,345.613,333.125z M319.987,299.362
  	c1.027,0.531,2.125,0.782,3.207,0.782c2.535,0,4.981-1.381,6.225-3.789l0.856-1.658c1.774-3.435,0.429-7.657-3.006-9.432
  	c-3.432-1.774-7.657-0.428-9.432,3.006l-0.856,1.658C315.207,293.365,316.553,297.588,319.987,299.362z M448.898,253.32
  	c0,35.017-9.362,69.376-27.075,99.365c-17.192,29.106-41.761,53.41-71.048,70.282c-1.072,0.618-3.202,1.298-5.315,0.693
  	c-1.786-0.511-3.321-1.66-4.247-3.27L247.18,256.809c-1.245-2.167-1.242-4.832,0.01-6.995c1.251-2.163,3.561-3.494,6.059-3.494
  	h188.65C445.765,246.32,448.898,249.454,448.898,253.32z M434.763,260.32H265.346l70.162,122.054
  	c35.927-22.916,60.66-59.542,68.285-101.506c0.691-3.803,4.323-6.329,8.14-5.636c3.804,0.691,6.326,4.335,5.635,8.139
  	c-8.363,46.026-35.573,86.168-75.075,111.152l7.298,12.697C400.485,375.336,432.438,320.095,434.763,260.32z M220.884,339.619h1.866
  	c3.866,0,7-3.134,7-7s-3.134-7-7-7h-1.866c-3.866,0-7,3.134-7,7S217.018,339.619,220.884,339.619z M199.384,335.786
  	c0,12.366-10.061,22.426-22.427,22.426c-12.364,0-22.424-10.06-22.424-22.426s10.06-22.426,22.424-22.426
  	C189.323,313.359,199.384,323.42,199.384,335.786z M185.384,335.786c0-4.646-3.78-8.426-8.427-8.426
  	c-4.645,0-8.424,3.78-8.424,8.426c0,4.646,3.779,8.426,8.424,8.426C181.604,344.211,185.384,340.432,185.384,335.786z
  	 M186.537,279.413c0,3.866,3.134,7,7,7h1.865c3.866,0,7-3.134,7-7c0-3.866-3.134-7-7-7h-1.865
  	C189.671,272.413,186.537,275.547,186.537,279.413z M194.721,147.535h1.867c3.866,0,7-3.134,7-7s-3.134-7-7-7h-1.867
  	c-3.866,0-7,3.134-7,7S190.854,147.535,194.721,147.535z M139.072,262.14c0,12.366-10.061,22.426-22.427,22.426
  	c-12.365,0-22.425-10.06-22.425-22.426s10.06-22.426,22.425-22.426C129.012,239.714,139.072,249.774,139.072,262.14z
  	 M125.072,262.14c0-4.646-3.78-8.426-8.427-8.426c-4.646,0-8.425,3.78-8.425,8.426s3.779,8.426,8.425,8.426
  	C121.292,270.565,125.072,266.786,125.072,262.14z" />
          </svg>
        </div>
        <div class="footer_menu_container d-flex justify-content-center w-100">
          <ul class="
                navbar-nav
                d-flex
                flex-column flex-sm-row
                justify-content-center
                align-items-center
              ">
            <li class="nav-item py-2 px-3">
              <router-link class="nav-link" to="/etlap" id="etlap_link">Étlap</router-link>
            </li>
            <li class="nav-item py-2 px-3">
              <router-link class="nav-link" to="/kosar">
				<div class="d-flex align-items-center"><div class="pe-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg></div> <div>Kosár</div></div></router-link>
            </li>
            <!--li class="nav-item py-2 px-3">
              <router-link class="nav-link" to="/#kapcsolat">Kapcsolat</router-link>
            </li>
            <li class="nav-item py-2 px-3">
              <router-link class="nav-link" to="/#rolunk">Rólunk</router-link>
            </li-->
          </ul>
        </div>
      </div>
    </footer>
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Homemade+Apple&family=Poiret+One&display=swap");

.navbar {
  box-shadow: 0 0 2rem rgb(0 0 0 / 45%) !important;
  min-height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(64 165 2 / 70%);
}

.navbar:hover {
  background-color: rgb(64 165 2 / 100%);
}

.logo_header {
  position: absolute;
  right: 0;
  top: 1rem;
}

.ff_homemadeapple {
  font-family: "Homemade Apple", cursive;
}

.ff_comfortaa {
  font-family: "Comfortaa", cursive;
}

.ff_poiretone {
  font-family: "Poiret One", cursive;
}

#main_footer {
  background-color: rgb(39 100 2);
  color: #ffc00f;
}

#main_footer a.nav-link:hover {
  color: #ffe59b;
}
</style>
